.feedback {
  position: relative;

  &::before {
    position: absolute;
    content: "";
    top: 243px;
    left: 0;
    width: 768px;
    height: 391px;
    background-image: image-set("../img/clouds/clouds-4.png" type("image/png"),
        "../img/clouds/clouds-4@2x.png" type("image/png"),
        "../img/clouds/clouds-4.webp" type("image/webp"),
        "../img/clouds/clouds-4@2x.webp" type("image/webp")),
      -webkit-image-set("../img/clouds/clouds-4.png" type("image/png"),
        "../img/clouds/clouds-4@2x.png" type("image/png"),
        "../img/clouds/clouds-4.webp" type("image/webp"),
        "../img/clouds/clouds-4@2x.webp" type("image/webp"));
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top left -37px;

    @include vp-1199 {
      display: none;
    }
  }

  &::after {
    position: absolute;
    // z-index: 1;
    content: "";
    top: 446px;
    right: 0;
    width: 488px;
    height: 263px;
    background-image: image-set("../img/clouds/clouds-5.png" type("image/png"),
        "../img/clouds/clouds-5@2x.png" type("image/png"),
        "../img/clouds/clouds-5.webp" type("image/webp"),
        "../img/clouds/clouds-5@2x.webp" type("image/webp")),
      -webkit-image-set("../img/clouds/clouds-5.png" type("image/png"),
        "../img/clouds/clouds-5@2x.png" type("image/png"),
        "../img/clouds/clouds-5.webp" type("image/webp"),
        "../img/clouds/clouds-5@2x.webp" type("image/webp"));
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top right;

    @include vp-1199 {
      display: none;
    }
  }
}

.feedback__wrapper {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 0 48px 90px;
  overflow-x: hidden;

  @include vp-1199 {
    padding: 0 0 0 15px;
  }

  @include vp-767 {

    padding: 0 5px;
  }
}

.feedback__swiper {


  position: relative;
  width: 860px;
  padding: 30px;
  margin: 0;
  margin-top: -13px;

  display: flex;

  align-items: stretch;

  height: auto;
  overflow: visible;

  @include vp-1199 {
    width: 620px;
  }

  @include vp-767 {
    margin-right: auto;
    margin-left: 45px;
    // margin: 0 auto;
    padding: 0 5px 10px 5px;

    width: 300px;
  }
  @include vp-374 {

    margin-right: 0;
    margin-left: 0;
    margin: 0 auto;

  }
}

// .feedback__swiper-wrapper {
//   display: flex;
//   align-items: stretch;
//   height: auto;
//   // margin: 0 auto;
// }

.feedback__slide {
  padding: 19px 40px 20px 20px;
  display: flex;
  box-shadow: 0 0 15px 0 rgba(28, 51, 116, 0.1);
  max-width: 790px;
  height: auto;
  width: 100%;

  align-items: stretch;
  justify-content: flex-start;

  @include vp-1199 {
    // min-height: 277px;
  }

  @include vp-767 {
    max-width: 300px;
    padding: 17px 23px 20px 25px;

    flex-direction: column;
  }



  p {
    padding: 0;
    margin: 0;
    margin-bottom: 10px;

    @include text-small;


    @include vp-1199 {
      @include text-xsmall;
    }

    @include vp-767 {
      margin-bottom: 9px;
    }
  }
}



.feedback__photo {
  margin-right: 30px;
  width: 100%;
  height: auto;
  width: 258px;
  display: flex;
  align-items: flex-start;
  // flex-basis: 258px;

  @include vp-1199 {
    width: 196px;
  }

  @include vp-767 {
    margin-right: 0px;
    width: 100%;
  }

  img {

    display: block;
    padding: 0;
    margin: 0;
    width: 100%;
    // max-width: 100%;
    height: 100%;

    object-fit: cover;

  }
}

.feedback__description {

  display: flex;
  flex-direction: column;
  flex-basis: 60%;
  padding: 13px 0 18px;

  @include vp-1199 {

    width: 100%;
    padding: 3px 0 0;
  }

  @include vp-767 {
    padding: 20px 0 0;
    flex-basis: auto;
    height: auto;
    align-self: flex-start;
  }
}

.feedback__name {
  margin: 0;
  padding: 0;

  @include vp-1199 {
    margin-top: 0;
  }

  @include vp-767 {
    margin-top: -9px;
  }


  dt {
    @include caption-big;
    margin-top: 16px;
    margin-bottom: 8px;
  }

  dd {
    @include caption-small;
    padding: 0;
  }
}

.feedback__name--02 {
  dt {
    @include caption-big;
    margin-top: 38px;
    margin-bottom: 8px;

    @include vp-1199 {
      margin-top: 18px;
    }

    // @include vp-767 {
    //   margin-top: 18px;
    // }
  }
}


.feedback__button-box {

  display: flex;
  justify-content: flex-end;
  align-items: flex-end;

  max-width: 1440px;
  margin-bottom: 11px;
  padding-right: 120px;
  padding-left: 30px;


  @include vp-1199 {
    margin-bottom: 10px;
    padding-right: 45px;
    padding-left: 30px;
  }

  @include vp-767 {
    margin-bottom: 33px;
    // padding-right: 0;
    padding: 0 10px;
  }

  h2 {
    position: relative;
    z-index: 2;

    @include heading-h3;
    color: $color-primary-elephant;
    padding: 0;
    margin: 0;
    margin-top: 13px;
    margin-right: auto;

    @include vp-1199 {
      margin-top: 15px;
    }

    &::after {
      position: absolute;
      content: attr(data-heading);
      left: 0;
      bottom: 0;

      @include heading-h2;

      color: $color-primary-elephant;
      opacity: 0.03;
    }
  }
}

.feedback__swiper-button {
  width: 37px;
  height: 35px;
  display: flex;
  align-self: flex-start;
  cursor: pointer;

  @include vp-767 {
    margin-top: 4px;
  }

  &--prev {
    background-image: url("../img/sprite/icon-arrow.svg");
    margin-right: 4px;

    &:hover,
    &:focus-visible {
      background-image: url("../img/sprite/icon-arrow-hf.svg");
      outline: none;
    }

    &:active {
      background-image: url("../img/sprite/icon-arrow-active.svg");
    }

    &:disabled {
      background-image: url("../img/sprite/icon-arrow-disabled.svg");
    }
  }

  &--next {
    rotate: 180deg;
    background-image: url("../img/sprite/icon-arrow.svg");

    &:hover,
    &:focus-visible {
      background-image: url("../img/sprite/icon-arrow-hf.svg");
      outline: none;
    }

    &:active {
      background-image: url("../img/sprite/icon-arrow-active.svg");
    }

    &:disabled {
      background-image: url("../img/sprite/icon-arrow-disabled.svg");
    }
  }
}

.feedback__swiper-button--prev.feedback__swiper-button--disabled {
  width: 37px;
  height: 35px;
  background-image: url("../img/sprite/icon-arrow-disabled.svg");
  pointer-events: none;
}

.feedback__swiper-button--next.feedback__swiper-button--disabled {
  width: 37px;
  height: 35px;
  rotate: 180deg;
  background-image: url("../img/sprite/icon-arrow-disabled.svg");
  pointer-events: none;
}
