.form {
  margin: 0 auto;
  background-color: #20410f;
  background-image: -webkit-image-set(url("../img/form/bg-form-desktop.jpg") 1x,
      url("../img/form/bg-form-desktop@2x.jpg")2x,
      url("../img/form/bg-form-desktop.webp") 1x,
      url("../img/form/bg-form-desktop@2x.webp")2x);

  background-image: image-set(url("../img/form/bg-form-desktop.jpg") type("image/jpg"),
      url("../img/form/bg-form-desktop@2x.jpg") type("image/jpg"),
      url("../img/form/bg-form-desktop.webp") type("image/webp"),
      url("../img/form/bg-form-desktop@2x.webp") type("image/webp"));

  background-size: cover;
  background-position: center;

  @include vp-1199 {
    background-image: -webkit-image-set(url("../img/form/bg-form-tablet.jpg")1x,
        url("../img/form/bg-form-tablet@2x.jpg")2x,
        url("../img/form/bg-form-tablet.webp")1x,
        url("../img/form/bg-form-tablet@2x.webp")2x);

    background-image: image-set(url("../img/form/bg-form-tablet.jpg") type("image/jpg"),
        url("../img/form/bg-form-tablet@2x.jpg") type("image/jpg"),
        url("../img/form/bg-form-tablet.webp") type("image/webp"),
        url("../img/form/bg-form-tablet@2x.webp") type("image/webp"));
  }

  @include vp-767 {
    background-image: -webkit-image-set(url("../img/form/bg-form-mobile.jpg")1x,
        url("../img/form/bg-form-mobile@2x.jpg")2x,
        url("../img/form/bg-form-mobile.webp")1x,
        url("../img/form/bg-form-mobile@2x.webp")2x);

    background-image: image-set(url("../img/form/bg-form-mobile.jpg") type("image/jpg"),
        url("../img/form/bg-form-mobile@2x.jpg") type("image/jpg"),
        url("../img/form/bg-form-mobile.webp") type("image/webp"),
        url("../img/form/bg-form-mobile@2x.webp") type("image/webp"));

  }
}


.form__wrapper {
  padding: 308px 231px 307px;
  text-align: center;
  color: $color-default-white;

  @include vp-1199 {
    padding: 194px 237px 183px 236px;
  }

  @include vp-767 {
    padding: 181px 15px 175px;
  }

  h2 {
    padding: 0;

    margin: 0;
    margin-left: -16px;
    margin-bottom: 20px;

    @include heading-h3;

    @include vp-1199 {
      margin-bottom: 19px;
      margin-left: 0;
    }

    @include vp-767 {
      margin-bottom: 14px;
    }
  }

  p {
    padding: 0;
    margin: 0;
    margin-left: -16px;
    margin-bottom: 42px;

    @include text-regular;

    @include vp-1199 {
      margin-bottom: 28px;
      margin-left: 0;
    }

    @include vp-767 {
      @include text-xsmall;
      margin-bottom: 24px;
    }
  }
}

.form__container {
  display: flex;
  justify-content: center;

  @include vp-1199 {
    flex-direction: column;
    align-items: center;
  }

  button {
    padding: 23px 9px;
    display: inline;
    height: min-content;
    min-width: 238px;

    @include button-regular;

    border: 1px solid $color-navy-blue;
    color: $color-default-white;
    background-color: $color-navy-blue;
    cursor: pointer;

    @include vp-1199 {
      min-width: 266px;
      width: min-content;
      padding: 20px 23px;
      margin-top: 8px;
    }

    @include vp-767 {
      min-width: 290px;
      width: 100%;
      margin-top: 1px;
      padding: 17px 35px;
    }

    &:hover,
    &:focus-visible {
      border: 1px solid $color-resolution-blue;
      background-color: $color-default-white;
      color: $color-resolution-blue;
      outline: none;
    }

    &:active {
      background-color: $color-resolution-blue;
      color: $color-default-white;
    }

    &:disabled {
      pointer-events: none;
      opacity: 0.1;
    }
  }
}

.form__input {
  @include inputs-navigation;

  input {
    border: 1px solid rgba(2, 102, 193, 0.1);
    padding: 22px 30px;
    min-width: 340px;

    @include vp-1199 {
      @include inputs-nav;

      padding: 15px 15px;
      min-width: 266px;
      width: 100%;
    }

    &:hover {
      border: 1px solid $color-navy-blue;

      &::placeholder {
        color: $color-navy-blue;
      }
    }

    &:focus-visible,
    &:active {
      border: 1px solid $color-resolution-blue;

      &::placeholder {
        color: transparent;
      }
    }

    &:disabled {
      background-color: $color-default-white;
      border: 1px solid rgba(2, 102, 193, 0.1);

      &::placeholder {
        color: rgba(2, 102, 193, 0.1);
      }
    }

    &::placeholder {
      color: rgba(45, 56, 63, 0.5);
    }
  }

  &:not(:last-child) {
    margin-right: 30px;

    @include vp-1199 {
      margin-right: 0;
      margin-bottom: 7px;
    }
  }
}
