.hero {
  position: relative;
}

.hero__swiper {
  margin: 0 auto;
  height: 100%;
  display: flex;
  align-items: stretch;

  @include vp-767 {
    max-width: 100%;
  }

  @include vp-374 {
    width: 100%;
  }
}

.hero__slide {
  position: relative;
  display: flex;
  justify-content: center;
  width: 100%;
  height: auto;
  align-items: stretch;

  visibility: hidden;

  @include vp-1199 {
    min-height: 1024px;
  }

  @include vp-767 {
    min-height: 568px;
  }

  &.swiper-slide-active {
    visibility: visible;
  }

  &::after {
    position: absolute;
    content: "";
    width: 100%;
    z-index: 2;
    top: 0;
    left: 0;
    height: 100%;
    background: $black-russian-to-transparent;
  }

  &--01 {
    background-color: #6288b0;
    background-image: -webkit-image-set(url("../img/hero/hero-1-desktop.jpg") 1x,
        url("../img/hero/hero-1-desktop@2x.jpg") 2x,
        url("../img/hero/hero-1-desktop.webp") 1x,
        url("../img/hero/hero-1-desktop@2x.webp") 2x);

    background-image: image-set(url("../img/hero/hero-1-desktop.jpg") type("image/jpg"),
        url("../img/hero/hero-1-desktop@2x.jpg") type("image/jpg"),
        url("../img/hero/hero-1-desktop.webp") type("image/webp"),
        url("../img/hero/hero-1-desktop@2x.webp") type("image/webp"));

    background-size: cover;
    background-position: top center;
  }

  &--02 {
    background-color: #6288b0;
    background-image: -webkit-image-set(url("../img/hero/hero-2-desktop.jpg") 1x,
        url("../img/hero/hero-2-desktop@2x.jpg") 2x,
        url("../img/hero/hero-2-desktop.webp") 1x,
        url("../img/hero/hero-2-desktop@2x.webp") 2x);

    background-image: image-set(url("../img/hero/hero-2-desktop.jpg") type("image/jpg"),
        url("../img/hero/hero-2-desktop@2x.jpg") type("image/jpg"),
        url("../img/hero/hero-2-desktop.webp") type("image/webp"),
        url("../img/hero/hero-2-desktop@2x.webp") type("image/webp"));

    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;

    @include vp-1199 {
      background-size: cover;
      background-position: top center;
    }

    @include vp-767 {
      background-image: -webkit-image-set(url("../img/hero/hero-2-desktop.jpg") 1x,
          url("../img/hero/hero-2-desktop@2x.jpg") 2x,
          url("../img/hero/hero-2-desktop.webp") 1x,
          url("../img/hero/hero-2-desktop@2x.webp") 2x);

      background-image: image-set(url("../img/hero/hero-2-desktop.jpg") type("image/jpg"),
          url("../img/hero/hero-2-desktop@2x.jpg") type("image/jpg"),
          url("../img/hero/hero-2-desktop.webp") type("image/webp"),
          url("../img/hero/hero-2-desktop@2x.webp") type("image/webp"));

      background-repeat: no-repeat;
      background-size: cover;
      background-position: top center;
    }
  }

  &--03 {
    background-color: #6288b0;
    background-image: -webkit-image-set(url("../img/hero/hero-3-desktop.jpg") 1x,
        url("../img/hero/hero-3-desktop@2x.jpg") 2x,
        url("../img/hero/hero-3-desktop.webp") 1x,
        url("../img/hero/hero-3-desktop@2x.webp") 2x);

    background-image: image-set(url("../img/hero/hero-3-desktop.jpg") type("image/jpg"),
        url("../img/hero/hero-3-desktop@2x.jpg") type("image/jpg"),
        url("../img/hero/hero-3-desktop.webp") type("image/webp"),
        url("../img/hero/hero-3-desktop@2x.webp") type("image/webp"));

    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
  }
}

.hero__description {
  position: relative;
  z-index: 3;
  margin: 0 auto;
  padding: 182px 120px 80px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  color: $color-default-white;
  max-width: 1440px;
  height: auto;

  @include vp-1199 {
    text-align: center;
    padding: 174px 90px 80px;
    align-items: center;
  }

  @include vp-767 {
    padding: 139px 50px 80px;
    max-width: 560px;
  }

  @include vp-374 {
    padding: 139px 15px 80px;
    max-width: 320px;
  }

  h1 {
    @include heading-h1;
    padding: 0;
    margin: 0;
    margin-right: 100px;
    margin-bottom: 23px;
    display: block;
    position: relative;
    z-index: 5;

    @include vp-1199 {
      width: 100%;
      margin-right: 0;
      margin-bottom: 13px;
    }
  }

  p {
    @include text-big;
    max-width: 442px;
    padding: 0;
    margin: 0;
    margin-bottom: 37px;

    @include vp-1199 {
      margin-bottom: 27px;
    }

    @include vp-767 {
      margin-bottom: 22px;
    }
  }

  &--02 {
    h1 {
      margin-right: 252px;

      @include vp-1199 {
        width: 100%;
        margin-right: 0;
      }
    }

    p {
      @include text-big;
      max-width: 460px;
      padding: 0;
      margin: 0;
      margin-bottom: 37px;

      @include vp-1199 {
        margin-bottom: 27px;
      }

      @include vp-374 {
        max-width: 290px;
      }
    }
  }

  &--03 {
    @include vp-1199 {
      text-align: center;
      padding: 174px 48px 80px;
      align-items: center;
    }

    @include vp-767 {
      padding: 139px 15px 80px;
    }
  }
}

.hero__photo {
  position: absolute;
  top: 0;
  right: 0;

  @include vp-767 {
    display: none;
  }

  &--first {
    top: 202px;
    right: 222px;

    @include vp-1199 {
      top: 490px;
      right: 339px;

      img {
        width: 266px;
        height: 351px;
      }
    }
  }

  &--second {
    top: 295px;
    right: 120px;

    @include vp-1199 {
      top: 543px;
      right: 163px;

      img {
        width: 236px;
        height: 312px;
      }
    }
  }
}

.hero__audio-wrapper {
  position: absolute;
  top: 301px;
  right: 120px;
  z-index: 5;

  @include vp-1199 {
    position: relative;
    top: 0;
    left: 0;
  }

  @include vp-767 {
    display: none;
  }
}

.hero__audio {
  border: none;
}


.hero__button {
  @include button-regular;
  color: $color-default-white;
  display: block;
  max-width: 220px;
  width: 100%;
  padding: 21px 0;
  margin-bottom: 150px;
  text-align: center;
  background-color: $color-navy-blue;
  cursor: pointer;
  user-select: none;

  &:hover,
  &:focus-visible {
    color: $color-resolution-blue;
    background-color: $color-default-white;
    outline: 1px solid $color-resolution-blue;
    outline-offset: 1px;
  }

  &:active {
    background-color: $color-resolution-blue;
    color: $color-default-white;
  }

  &:disabled {
    background-color: $color-navy-blue;
    color: $color-default-white;
    opacity: 0.1;
  }

  @include vp-1199 {
    width: 100%;
    max-width: 206px;
    margin-bottom: 49px;
  }

  @include vp-767 {
    margin-bottom: 0;
    max-width: 100%;
    // width: 100%;
    padding: 18px 0;
  }

  @include vp-374 {
    margin-bottom: 0;
    max-width: 180px;
    width: 100%;
    padding: 18px 0;
  }

  &--03 {
    @include vp-1199 {
      margin-bottom: 69px;
    }
  }
}

.hero__video-wrapper {
  max-width: 482px;
  max-height: 317px;
  position: absolute;
  z-index: 3;
  top: 301px;
  right: 120px;


  @include vp-1199 {
    position: relative;
    max-width: 442px;
    height: 300px;

    top: 0;
    right: 0;
  }

  @include vp-767 {
    display: none;
  }
}

.hero__video {

  object-fit: cover;
  width: 482px;
  height: 317px;
  padding: 0;
  margin: 0 auto;
  position: relative;
  z-index: 3;
  cursor: pointer;

  @include vp-1199 {
    margin-top: 0;
    margin-left: 0;
    height: 299px;
  }
}

.hero__video-button {
  position: absolute;
  z-index: 5;
  top: 41%;
  right: 44%;
  width: 56px;
  height: 56px;
  background-color: transparent;
  border: none;
  background-image: url("../img/sprite/icon-play.svg");
  background-repeat: no-repeat;
  background-size: 56px 56px;
  background-position: center center;
  border-radius: 50%;
  outline: none;
  cursor: pointer;

  &:hover,
  &:focus-visible {
    background-image: url("../img/sprite/icon-play-hf.svg");
  }

  &:active {
    background-image: url("../img/sprite/icon-play-active.svg");
  }

  &:disabled {
    background-image: url("../img/sprite/icon-play-disabled.svg");
    pointer-events: none;
  }
}

.hero__details {

  display: flex;
  align-items: center;
  flex-wrap: wrap;

  @include vp-1199 {
    display: none;
  }

  p {
    @include text-xsmall;
    padding: 13px 20px;
    margin-bottom: 0;
    margin-right: 10px;
    border: 1px solid $color-default-white;
  }

  svg {
    margin-right: 8px;
  }
}

.swiper__pagination {
  max-width: 1207px;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  position: absolute;
  bottom: 97px;
  left: 50%;
  transform: translate(-50%);

  @include vp-1199 {
    padding-right: 0;
    justify-content: center;
    bottom: 90px;
  }

  @include vp-767 {
    bottom: 40px;
  }
}

.swiper-pagination-bullet {
  margin: 0 7px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  border: 1px solid $color-default-white;
  background: transparent;
  opacity: 1;

  @include vp-767 {
    margin: 0 6px;
    width: 8px;
    height: 8px;
  }
}

.swiper-pagination-bullet-active {
  background-color: $color-default-white;
}
