.nav {
  @include vp-1199 {
    display: flex;
    flex-basis: 100%;
    order: 3;
  }
}

.nav__toggle {
  position: relative;
  display: none;

  @include vp-1199 {
    position: absolute;
    z-index: 4;
    display: block;
    top: 30px;
    left: 45px;
    width: 22px;
    height: 22px;
    margin: 11px 0;
    border: none;
    background-color: transparent;
    cursor: pointer;
  }

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }

  @include vp-767 {
    top: 5px;
    left: 15px;
  }
}

.nav--is-active .nav__toggle::after {
  @include vp-1199 {
    position: absolute;
    content: "";
    top: 0;
    right: 0;
    width: 22px;
    height: 22px;
    background-image: url("../img/sprite/icon-cross.svg");
  }
}

.nav--is-invalid .nav__toggle::after {
  @include vp-1199 {
    position: absolute;
    content: "";
    top: 0;
    right: 0;
    width: 22px;
    height: 22px;
    background-image: url("../img/sprite/icon-menu.svg");
  }
}

.nav--is-invalid .nav__list {
  @include vp-1199 {
    display: none;
  }
}

.nav__list {

  position: relative;
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  order: 2;
  max-width: 575px;

  @include vp-1199 {
    margin-top: 50px;
    flex-direction: column;
    width: 100%;
    min-width: 678px;
    max-height: 296px;
    overflow-y: auto;
    flex-wrap: nowrap;
  }

  @include vp-767 {
    min-width: 290px;
    margin-top: 15px;
    margin-right: 0;
  }
}

.nav__item {
  &:not(:last-child) {
    margin-right: 31px;

    @include vp-1199 {
      margin-bottom: 17px;
      margin-right: 0;
    }

    @include vp-767 {
      margin-bottom: 12px;
    }
  }
}

.nav__link {
  color: $color-default-white;

  @include inputs-navigation;

  &:hover {
    text-decoration: 1px underline;
    text-underline-offset: 5px;
  }

  &:focus-visible {
    outline: 1px solid $color-default-white;
    outline-offset: 1px;
    text-decoration: none;
  }

  &:active {
    color: $color-default-white;
  }

  &:disabled {
    color: rgba(255, 255, 255, 0.5);
  }
}
